section{
    border: 1px solid blue;
    width: 100%;
    float:left;
}
div{
    margin:5px;
    height:150px;
    width:30px;
}
.left{
    float: left;
    background: pink;
}
.right{
    float: right;
    background: teal;
}
.none{
    float: none;
}
